body {
    background: rgb(93, 93, 220);
    font: 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 12px;
    padding: 14px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 9px rgb(52, 49, 49, 0.50);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
